.script {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
    font-size: 12px;
    color: #015d87;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    line-height: 24px;
}

.total {
    display: flex;
}

.total {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.btn btn-lg btn-primary {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.btn btn-lg btn-primary:hover {
    background-color: #64af3d;
}

btn btn-outline-secondary my-2 my-sm-0 {

    color: whitesmoke;
}